<template>
  <el-menu
  default-active="1"
  class="el-menu-demo"
  mode="horizontal"
  background-color="#545c64"
  text-color="#fff"
  active-text-color="#ffd04b">
  <el-menu-item index="1"><router-link to='/user'>Home</router-link></el-menu-item>
  <el-menu-item index="2"><router-link to='/user/menu'>Menu</router-link></el-menu-item>
  <el-menu-item index="3"><router-link to='/user/trolley'>Shopping Trolley</router-link></el-menu-item>
  <el-menu-item index="4"><router-link to='/user/order'>Order</router-link></el-menu-item>
  <el-submenu index="5" style="float: right">
    <template slot="title">Your Account</template>
    <el-menu-item index="5-1"><router-link to='/user/account'>Account</router-link></el-menu-item>
    <el-menu-item index="5-2"><router-link to='/user/address'>Address</router-link></el-menu-item>
    <el-menu-item index="5-3"><router-link to='/user/favorite'>Favorite</router-link></el-menu-item>
    <el-menu-item index="5-4"><router-link to='/user/unlike'>Unlike</router-link></el-menu-item>
    <el-menu-item index="5-4">Log out</el-menu-item>
  </el-submenu>
</el-menu>
</template>

<script>
export default {
  
}
</script>

<style>
  a {
    text-decoration: none;
  }
</style>