<template>
  <div>
    <el-container style="height: 825px">
      <manager-aside></manager-aside>
      <el-container direction="vertical">
        <manager-header></manager-header>

        <el-main>
          <el-button type="text" @click="dialogFormVisible = true">Add</el-button>

          <el-dialog title="Add category" :visible.sync="dialogFormVisible">
            <el-form :model="form">
              <el-form-item label="Sign" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off"></el-input>
              </el-form-item>

              <el-form-item label="Category" :label-width="formLabelWidth">
                <el-input v-model="form.description" autocomplete="off"></el-input>
              </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible = false">Cancel</el-button>
              <el-button type="primary" @click="dialogFormVisible = false">Confirm</el-button>
            </div>
          </el-dialog>

          <el-table :data="tableData" empty-text="No category">
            <el-table-column prop="sign" label="Sign" width="120"></el-table-column>
            <el-table-column prop="category" label="Category"></el-table-column>
          </el-table>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import ManagerAside from './components/ManagerAside.vue';
import ManagerHeader from './components/ManagerHeader.vue';
export default {
  components: { ManagerAside, ManagerHeader },
  data() {
    return {
      form: {
        sign: '',
        category: ''
      }
    };
  },
};
</script>

<style>

</style>