<template>
  <div>
    <el-container style="height: 825px">
      <manager-aside></manager-aside>
      <el-container direction="vertical">
        <manager-header></manager-header>

        <el-main>
          <h2>Store Information</h2>
          <table border="1" cellspacing="0">
            <tr>
              <th>Name</th>
              <td width="500px"></td>
            </tr>
            <tr>
              <th>Storekeeper</th>
              <td width="500px"></td>
            </tr>
            <tr>
              <th>TelePhone Number</th>
              <td width="500px"></td>
            </tr>
            <tr>
              <th>Address</th>
              <td width="500px"></td>
            </tr>
          </table>
        </el-main>
        </el-container>
    </el-container>
  </div>
</template>

<script>
import ManagerAside from './components/ManagerAside.vue';
import ManagerHeader from './components/ManagerHeader.vue';
export default {
  components: { ManagerAside, ManagerHeader },
};
</script>

<style>

</style>