<template>
  <div>
    <el-container style="height: 825px">
      <manager-aside></manager-aside>
      <el-container direction="vertical">
        <manager-header></manager-header>

        <el-main>
          <span>
            <el-select v-model="value">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </span>
          
          <span>
            <el-button type="text" @click="dialogFormVisible = true">Add</el-button>

            <el-dialog title="Product Information" :visible.sync="dialogFormVisible">
              <el-form :model="form">
                <el-form-item label="Name" :label-width="formLabelWidth">
                  <el-input v-model="form.name" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item label="Category" :label-width="formLabelWidth">
                  <el-select v-model="form.category" placeholder="Please select the category of being added product">
                    <el-option label="Pizza" value="Pizza"></el-option>
                    <el-option label="Snack" value="Snack"></el-option>
                    <el-option label="Dessert" value="Dessert"></el-option>
                    <el-option label="Beverage" value="Beverage"></el-option>
                    <el-option label="Soup" value="Soup"></el-option>
                  </el-select>
                </el-form-item>

                <el-form-item label="Image" :label-width="formLabelWidth">
                  <input type='file'>
                </el-form-item>

                <el-form-item label="Price" :label-width="formLabelWidth">
                  <el-input v-model="form.price" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item label="Description" :label-width="formLabelWidth">
                  <el-input v-model="form.description" autocomplete="off"></el-input>
                </el-form-item>
              </el-form>

              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                <el-button type="primary" @click="dialogFormVisible = false">Confirm</el-button>
              </div>
            </el-dialog>
          </span>

          <el-table :data="tableData" empty-text="No item">
            <el-table-column prop="id" label="Id" width="120"></el-table-column>
            <el-table-column prop="image" label="Image" width="140"></el-table-column>
            <el-table-column prop="name" label="Name" width="120"></el-table-column>
            <el-table-column prop="category" label="Category"></el-table-column>
            <el-table-column prop="price" label="Price"></el-table-column>
          </el-table>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import ManagerAside from './components/ManagerAside.vue';
import ManagerHeader from './components/ManagerHeader.vue';
export default {
  components: { ManagerAside, ManagerHeader },
  data() {
      return {
        options: [{
          value: 'Option1',
          label: 'Pizza'
        }, {
          value: 'Option2',
          label: 'Snack'
        }, {
          value: 'Option3',
          label: 'Dessert'
        }, {
          value: 'Option4',
          label: 'Beverage'
        }, {
          value: 'Option5',
          label: 'Soup'
        }],
        value: 'All',

        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          name: '',
          category: '',
          image: '',
          price: '',
          description: ''
        },
        formLabelWidth: '120px'
      }
    }
};
</script>

<style>

</style>