<template>
  <div>
    <el-container style="height: 825px">
      <manager-aside></manager-aside>
      <el-container direction="vertical">
        <manager-header></manager-header>

        <el-main>
          
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import ManagerAside from './components/ManagerAside.vue';
import ManagerHeader from './components/ManagerHeader.vue';
export default {
  components: { ManagerAside, ManagerHeader },
};
</script>

<style>

</style>