<template>
    <el-header style="text-align: right; font-size: 12px; width: 100%">
        <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>Change Password</el-dropdown-item>
        </el-dropdown-menu>
        </el-dropdown>
        <span>Admin</span>
    </el-header>
</template>

<script>
export default {
  data() {
    return {
      size: "",
    };
  },
};
</script>

<style>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}
</style>