<template>
  <el-aside width="350px" style="background-color: #545c64; height: 825px">
    <el-menu
      default-active="1"
      class="el-menu-vertical-demo"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
    >
      <el-menu-item><router-link to='/manager'>Store Information</router-link></el-menu-item>
      <el-submenu index="1">
        <template slot="title"><span>Commodity Information Management</span></template>
        <el-menu-item-group>
          <el-menu-item index="1-1"><router-link to='/manager/category'>Category Management</router-link></el-menu-item>
          <el-menu-item index="1-2"><router-link to='/manager/product'>Product Management</router-link></el-menu-item>
        </el-menu-item-group>
      </el-submenu>

      <el-submenu index="2">
        <template slot="title"><span>Order Management</span></template>
        <el-menu-item-group>
          <el-menu-item index="2-1"><router-link to='/manager/order'>Order Details</router-link></el-menu-item>
          <el-menu-item index="2-2"><router-link to='/manager/refund'>Refund</router-link></el-menu-item>
        </el-menu-item-group>
      </el-submenu>

      <el-submenu index="3">
        <template slot="title"><span>Statistical Record</span></template>
        <el-menu-item-group>
          <el-menu-item index="3-1"><router-link to='/manager/income'>Income</router-link></el-menu-item>
          <el-menu-item index="3-2"><router-link to='/manager/sales'>Sales Volume</router-link></el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </el-aside>
</template>

<script>
export default {
  
};
</script>

<style>
.el-aside {
  background-color: #545c64;
  color: #333;
  text-align: center;
  line-height: 200px;
}
</style>