<template>
  <div>
    <user-header></user-header>
  </div>
</template>

<script>
import UserHeader from './components/UserHeader.vue'
export default {
 components: {UserHeader}
}
</script>

<style>

</style>