<template>
  <!-- <manager-home></manager-home> -->
  <!-- <order-details></order-details> -->
  <router-view></router-view>
</template>

<script>
// import OrderDetails from './views/manager/OrderDetails.vue';
export default {
  components: {  },
  };
</script>

<style>
</style>
